{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
	    <h1>About us</h1>
	    <p>The group is a global leader in consulting, technology, outsourcing and next-generation services. We enable clients in more than 50 countries to outperform the competition and stay ahead of the innovation curve. With US$9.21 bn in LTM Q3 FY16 revenues and 193,000+ employees, we are helping enterprises renew themselves while also creating new avenues to generate value. We provide enterprises with strategic insights on what lies ahead. We help enterprises transform and thrive in a changing world through strategic consulting, operational leadership, and the co-creation of breakthrough solutions, including those in mobility, sustainability, big data, and cloud computing.</p>
    </div>
</div>

{% endblock %}
